<!--
  Generated template for the MemoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Memories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center *ngIf="memories.length === 0">
    Go make some memories!
  </h1>
  <ion-list inset *ngIf="memories.length !== 0">
    <ion-item-sliding *ngFor="let memory of memories">
      <ion-item (click)="showMemoryDetail(memory)">
        <ion-note float-right>{{memory.date}}</ion-note>
        <ion-avatar item-start>
          <img [src]="memory.img">
        </ion-avatar>
        <h1>{{memory.caption}}</h1>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteMemory(memory)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
