page-capture {
  ion-navbar {
    span {
      float: right;
    }
  }
  
  .scroll-content {
    padding-bottom: 0px !important;
    overflow-y: auto;
    
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
    }
    
    .image-border {
      max-width: 472px;
      margin: auto;
      margin-top: 2%;
      border: 1px solid black;
      height: 30%;
      width: 30%;
      
      img {
        width: 100%;
        height: 100%;
        font-size: 36px;
        text-align: center;
        font-family: serif;
        cursor: pointer;
      }
    }
  }
  
  .memory-btn {
    ion-icon {
      padding-right: 10px;
    }
  }
}
