<!--
  Generated template for the CapturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{(memory.id === null) ? "Capture Memory!" : memory.caption}}</ion-title>
    <span *ngIf="memory.id !== null">{{memory.date}}</span>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="memory.id === null">
    <div class="image-border">
      <img [src]="memory.img" alt="Tap To Snap A Photo!" (press)="browsePhoto()" (click)="takePhoto()" style="width: 100%;height: 100%;"/>
    </div>
    <p text-center>(Or Hold To Browse)</p>
  </div>
  <div class="image-border" *ngIf="memory.id !== null">
    <img [src]="memory.img" alt="Uh oh, Photo is missing!" style="width: 100%;height: 100%;"/>
  </div>
  
  <div *ngIf="memory.id === null">
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="memory.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Memory Caption</ion-label>
      <ion-input type="text" [(ngModel)]="memory.caption" maxlength="100"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea placeholder="How'd It Go?" [(ngModel)]="memory.description"></ion-textarea>
    </ion-item>
  </div>
  <div *ngIf="memory.id !== null && !isSharing">
    <h1 text-center>{{memory.description}}</h1>
  </div>
  <div *ngIf="memory.id !== null && isSharing">
    <ion-item>
      <ion-label stacked>Post Caption</ion-label>
      <ion-input type="text" [(ngModel)]="shareCaption" maxlength="100"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Message</ion-label>
      <ion-textarea placeholder="What would you like to say?" [(ngModel)]="shareMessage"></ion-textarea>
    </ion-item>
  </div>
</ion-content>


<ion-footer text-center wrap>
  <button *ngIf="memory.id === null" ion-button class="save memory-btn" color="secondary" (click)="validateMemory()">
    <ion-icon name="checkmark"></ion-icon>Save
  </button>
  <button ion-button class="cancel memory-btn" color="danger" (click)="close()">
    <ion-icon name="close"></ion-icon>{{(memory.id === null || isSharing) ? "Cancel" : "Close"}}
  </button>
  <button *ngIf="memory.id !== null && !isSharing" ion-button class="share memory-btn" (click)="shareButtonClick()">
    <ion-icon name="share-alt"></ion-icon>Share
  </button>
  <button *ngIf="isSharing" ion-button class="share memory-btn" color="secondary" (click)="validatePost()">
    <ion-icon name="send"></ion-icon>Post
  </button>
</ion-footer>
