.toolbar-background {
  background-color: #ccffff;
}

page-home {
  .title {
    width: 40%;
    display: inline-flex;
    
    .toolbar-title {
      white-space: normal;
    }
  }
  
  .scroll-content {
    overflow-y: auto;
  }
  
  .caption {
    margin-top: 5%;
    font-size: 3em;
  }
  
  .image-border {
    max-width: 472px;
    margin: auto;
    margin-top: 6%;
    border: 1px solid black;
    height: 45%;
    width: 50%;
  }
  
  .capture-memory-btn {
    margin: auto;
    display: block;
    margin-top: 2%;
    
    .icon {
      padding-right: 10px;
    }
  }
  
  .page-footer {
    background-color: #ccffcc;
    min-height: 10%;
    font-size: 20px;
    
    p {
      padding: 0px 10px;
      margin: 3.4%;
    }
  }
}