<ion-header>
  <ion-navbar>
    <ion-title>
      Date Your Spouse
    </ion-title>
    <button ion-button float-right (click)="showMemories()">See Memories</button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="heart"
      pullingText="Want a new idea?..."
      refreshingSpinner="circles"
      refreshingText="Here it comes!...">
    </ion-refresher-content>
  </ion-refresher>
  
  <h4 text-center padding-top>Slide Down For A New Idea!</h4>
  <h1 text-center>{{ idea.caption }}</h1>
  <div class="image-border" *ngIf="idea.id !== 0">
    <img [src]="idea.img" style="width: 100%;height: 100%;"/>
  </div>
  <button ion-button  (click)="showCapture()" class="capture-memory-btn" *ngIf="idea.id !== 0">
    <ion-icon name="camera"></ion-icon>Capture Memory
  </button>
  <ion-footer class="page-footer" text-center wrap>
    <p>{{ idea.footerMsg }}</p>
  </ion-footer>
</ion-content>